h1 {
    font-family: 'Bellota Text', cursive;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9);
}
main {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}
header {
    background-color: rgba(131, 236, 182, 0.884);
    padding-top: 50px;
    padding-bottom: 40px;
}
table#table1 {
    width:55%; 
    margin-left:20%; 
    margin-right:20%;
}
table {
    border: 2px solid  rgba(131, 236, 182, 0.884);
    text-align: left;
}
tr:nth-child(even) {background-color: rgba(131, 236, 182, 0.582);}
th {
    height: 50px;
    background-color: rgba(131, 236, 182, 0.582);
    font-weight: bold;
  }   
tr {
    height: 30px;
} 
footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(131, 236, 182, 0.884);
    text-align: center;
    color: black;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}